body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: #656767; /* scroll thumb & track */
}

#page {
  transition: transform 0.75s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@page {
  size: A4;
  margin: 15px 12px;
}
#print-page {
  display: none;
}
#print-page .curriculum {
  font-size: 26px;
}
@media print {
  html,
  body,
  body * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  #print-page {
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    box-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }
  #root,
  #Header,
  #Footer {
    display: none !important;
  }
  .address {
    padding-right: 32px;
  }
  .curriculum {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  #page {
    margin: 12px auto;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  p,
  td,
  span,
  h4 {
    font-size: 0.75rem !important;
  }
  .title {
    font-size: 12px !important;
  }
  .extrabtn {
    padding-left: 8px;
    padding-right: 9px;
  }
}
.extrabtn {
  padding: 0.29rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: tranparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #656767;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media screen and (min-width: 1024px) {
  .left-container {
    width: 17rem;
  }
}
@media screen and (min-width: 1280px) {
  .left-container {
    width: 17rem;
  }
}
.shadow-2xl {
  box-shadow: 0 4px 31px -12px #000;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

#toogleA:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #000;
}
